@model BargheNovin.Web.Areas.Admin.Models.PagiesContent.ServicesPageContentViewModel
@{
    ViewData["pageindex"] = 2;
    ViewData["Title"] = "صفحه خدمات";
}


@section ContentHeader{
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">ویرایش بخش خدمات</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/admin">خانه</a></li>
                        <li class="breadcrumb-item active">خدمات</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

}

<section class="content">
    <div class="card card-primary col-md-12">
        <div class="card-header">
            <h3 class="card-title">فرم خدمات</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" enctype="multipart/form-data" method="post">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>خدمات</label>
                        <textarea asp-for="Description" class="form-control" rows="3" placeholder="وارد کردن اطلاعات ..."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div>
                                <img class="img-bordered img-thumbnail" id="mlImage" src="~/main/img/@Model.ImageName" style="background-color:gray" />
                            </div>
                            <label for="exampleInputFile">تصوبر نمایشی</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input asp-for="ImageUpload" class="custom-file-input" type="file"
                                           onchange="document.getElementById('mlImage').src = window.URL.createObjectURL(this.files[0])">
                                    <label class="custom-file-label" for="MainLogo">انتخاب فایل</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>عنوان 1</label>
                            <input asp-for="TextTitle1" type="text" class="form-control" placeholder="موضوع">
                            <textarea asp-for="Text1" class="form-control" rows="2" placeholder="توضیح مختصر"></textarea>
                        </div>
                        <div class="form-group">
                            <label>عنوان 2  </label>
                            <input asp-for="TextTitle2" type="text" class="form-control" placeholder="موضوع">
                            <textarea asp-for="Text2" class="form-control" rows="2" placeholder="توضیح مختصر"></textarea>
                        </div>
                        <div class="form-group">
                            <label>عنوان 3 </label>
                            <input asp-for="TextTitle3" type="text" class="form-control" placeholder="موضوع">
                            <textarea asp-for="Text3" class="form-control" rows="2" placeholder="توضیح مختصر"></textarea>
                        </div>
                        <div class="form-group">
                            <label>عنوان 4 </label>
                            <input asp-for="TextTitle4" type="text" class="form-control" placeholder="موضوع">
                            <textarea asp-for="Text4" class="form-control" rows="2" placeholder="توضیح مختصر"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group" asp-validation-summary="All">

                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">ارسال</button>
            </div>
        </form>
    </div>
</section>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
