@using BargheNovin.Web.Models.Users
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>ورود به سایت</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

            <form asp-controller="account" asp-action="login"
                  id="login-form" method="post">
                <div class="input-group mb-3">
                    <input asp-for="UserIndex" class="form-control" placeholder="ایمیل یا نام کاربری">
                    <div class="input-group-append">
                        <span class="fa fa-envelope input-group-text"></span>
                    </div>
                </div>
                <p>
                    <span class="text-danger" asp-validation-for="UserIndex"></span>
                </p>
                <div class="input-group mb-3">
                    <input asp-for="Password" class="form-control" placeholder="رمز عبور">
                    <div class="input-group-append">
                        <span class="fa fa-lock input-group-text"></span>
                    </div>
                </div>
                <p>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </p>
                <div class="row">
                    <div class="col-8">
                        <div class="checkbox icheck">
                            <label>
                                <input asp-for="RememberMe" type="checkbox"> یاد آوری من
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ورود</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div asp-validation-summary="All" class="input-group mb-3">
            </div>
            <div class="social-auth-links text-center mb-3">
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fa fa-google-plus mr-2"></i> ورود با اکانت گوگل
                </a>
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="#">رمز عبورم را فراموش کرده ام.</a>
            </p>
            <p class="mb-0">
                <a href="/register" class="text-center">ثبت نام</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section scripts{
<partial name="_ValidationScriptsPartial" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
     $('#login-form').submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {
              if(data == true){
                  Swal.fire({
                        icon: 'success',
                        title: 'ورورد انجام شد',
                        showCancelButton: true,
                        showCloseButton: true,
                        confirmButtonText: 'بازگشت به صفحه ',
                        cancelButtonText: 'بستن',
                      }).then((result) => {
                          if (result.isConfirmed){
                             window.location.replace('@((ViewData["ReturnUrl"] == null)?"/":ViewData["ReturnUrl"])');
                          }else{
                             window.location.replace('@Url.Action("index", "home")');
                          }
                      });
              }else{
                  Swal.fire({
                      icon: 'error',
                      title: 'ورود انجام نشد',
                      text: data,
                      showConfirmButton: false,
                    });
              }
            }
        });

    });
</script>
}